# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
*.db

# Node
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# IDE
.vscode/
.idea/
.DS_Store

# Infrastructure secrets
infra/traefik/certs/
infra/turn/certs/
